h1 {
    text-align: center;
    color: cornflowerblue;
}

h2 {
    text-align: center;
    color:darkblue;
}


    body {
        font-family: 'Space Grotesk', sans-serif;
    }

    p {
        font-size: 18px;
    }

    .resaltar {
        font-weight: 500;
    }